---
import LanguageIcon from "./QuienSoy/LanguageIcon.astro";
import { iconosStack } from "../data/proyectos.ts"
---

<section
	id="quien-soy"
	class="h-[100vh] flex flex-col justify-evenly bg-black"
>
	<div class="flex flex-col w-11/12 bg-white-transparent justify-center items-center py-10 mx-auto z-10 text-white rounded-ee-full rounded-tl-full">
		<h1 class="text-5xl">Desarrollador FrontEnd/Backend</h1>
		<br>
		<p class="text-start">
			con sólida experiencia en el área de desarrollo,
			<br>
			apto para absorber y aplicar nuevos conocimientos rápidamente, 
			<br>
			destacando por mi paciencia, persistencia y amabilidad en el trabajo colaborativo. 
			<br>
			Comprometido con la resolución de desafíos técnicos y el compañerismo en el equipo de trabajo.
		</p>
	</div>
	<div id="icon-container" class="grid grid-rows-2 gap-y-5 bg-black py-6">
		<div class="row-span-1 flex justify-evenly">
		{
			iconosStack.map((icono) => {
				if (icono.section === "front-end") {
					return(
					<LanguageIcon
							href={icono.href}
							iconName={icono.icono}
							className={icono.className}
						/>
					)
				}
			})
		}
		</div>
		<div class="row-span-1 flex justify-evenly">
			{
				iconosStack.map((icono) => {
					if (icono.section === "back-end") {
						return(
						<LanguageIcon
							href={icono.href}
							iconName={icono.icono}
							className={icono.className}
						/>
						)
					}
				})
			}
		</div>
	</div>
</section>
