---
import ExpositorImagenes from "./ExpositorImagenes.astro";
import IconoNombre from "./IconoNombre.astro";
import { type Proyectos } from "../../data/proyectos.ts";

interface Props {
    proyecto: Proyectos;
}

const { proyecto } = Astro.props;
---

<a href={proyecto.link} target="_blank">
    <div class="bg-white-transparent rounded-lg">
        <div class="grid grid-cols-7 py-2">
            <h2 class="col-start-2 col-span-5 text-center font-bold">{proyecto.nombre}</h2>
            <div class="col-start-7 col-span-1 justify-self-end">
                <span class=`${proyecto.deployed ? "bg-blue-300" : "bg-red-400"} rounded-md p-1 px-2 me-2`>
                    {proyecto.deployed ? "Online" : "Offline"}
                </span>
            </div>
        </div>
        <ExpositorImagenes
            identificador={proyecto.id}
            urlImagenes={proyecto.imagenes}
        />
        <div class="flex items-center justify-center py-1 bg-amber-400 border-y-2 border-black">
            <p class="font-bold">Stack</p>
        </div>
        <IconoNombre stack={proyecto.stack}/>
    </div>
</a>
