---
import ExpositorImagenes from "./ExpositorImagenes.astro";
import IconoNombre from "./IconoNombre.astro";
import { type Proyectos } from "../../data/proyectos.ts";
import AcordeonDescripcion from "./AcordeonDescripcion.astro";

interface Props {
    proyecto: Proyectos;
}

const { proyecto } = Astro.props;
---


<div class="bg-white-transparent rounded-lg ">
    <a href={proyecto.link} target="_blank">
        <div class="grid grid-cols-7 py-2">
            <h2 class="col-start-2 col-span-5 text-center font-bold">{proyecto.nombre}</h2>
            <div class="col-start-7 col-span-1 justify-self-end">
                <span class=`${proyecto.deployed ? "bg-green-200" : "bg-red-200"} rounded-md p-1 px-2 me-2 font-bold`>
                    {proyecto.deployed ? "On" : "Off"}
                </span>
            </div>
        </div>
        <ExpositorImagenes
            identificador={proyecto.id}
            urlImagenes={proyecto.imagenes}
        />
    </a>
    <AcordeonDescripcion id={proyecto.id} descripcion={proyecto.descripcion} stack={proyecto.stack} fecha={proyecto.fecha}/>
    <IconoNombre stack={proyecto.stack}/>
</div>

<script>
    const acordeones = document.querySelectorAll('.boton-acordeon');

    acordeones.forEach(acordeon => {
        acordeon.addEventListener('click', (e) => {
            toggleAccordion(e)
        })
    })

    function toggleAccordion(e: any) {
        const id = e.currentTarget.dataset.id as string;

        const content = document.getElementById(`content-${id}`) as HTMLElement;
        const icon = document.getElementById(`icon-${id}`) as HTMLElement;
   
      const upArrow = `<img src="/icons/up-arrow.png" alt="Flecha Arriba" class="h-3 w-3 invert">`;
   
      const downArrow = `<img src="/icons/down-arrow.png" alt="Flecha Abajo" class="h-3 w-3 invert">`;
   
      // Toggle the content's max-height for smooth opening and closing
      if (content.style.maxHeight && content.style.maxHeight !== '0px') {
        content.style.maxHeight = '0';
        icon.innerHTML = downArrow;
      } else {
        content.style.maxHeight = content.scrollHeight + 'px';
        icon.innerHTML = upArrow;
      }
    }
  </script>